Exercise 3.
1. Write a program flow which will assign grade by the test scores using the following conditions:

If score >= 90, grade="A"
If 80 >= score >90, grade="B"
If 70 >= score >80, grade="C"
If 60 >= score >70, grade="D"
IF score < 60, grade="F"

In [4]:
# code up your solution here
score = 100
if score>=90:
    grade = "A"
elif score>=80 and score <90:
    grade = "B"
elif score >=70 and score<80:
    grade = "C"
elif score >=60 and score<70:
    grade = "D"
else:
    grade = "F"
print (grade)

A

2. x=1, y=1, write a flow to assign messge to different value base on different criteria as below, and in the end print out the message:

a. If x less than y, messge="x is less than y"

b. If x larger than y, messge="x is greater than y"

c. If x equal to y, messge="x is the same as y"

In [5]:
# code up your solution here
x=1 
y=1
if x<y:
    message = 'x is less than y'
elif x>y:
    message = 'x is greater than y'
else: 
    message = 'x is the same as y'
print (message)

x is the same as y

Exercise 4.
1. Read more on list and select 2 list methods not mentioned in class to give examples of using them.

In [12]:
#list.count()
a = [1, 2,3,4]
a.count(4)

1

In [14]:
#list.extend()
class_1 = ['english', 'spanish']
class_2 =['math','business']
class_1.extend(class_2)
print(class_1)

['english', 'spanish', 'math', 'business']

2.How can you check if a key is already in a dictionary? Give an example.

In [19]:
d = {"color1":"white", "color2":"black" }
key_to_check = 'purple'
if key_to_check in d.keys():
    print('exists')
else:
    print("doesn't exist")

doesn't exist

3.Explore how Counter works as another type of collection. Give 2 examples to use Counter.

In [21]:
#example 1
from collections import Counter
counter = Counter({'apple': 1, 'banana': 2, 'pear': 3})
countfruit = counter['pear']
print(countfruit)

3

In [22]:
#example 2
counter_color = Counter({'red': 1, 'yellow': 10, 'blue': 100})
countcolor = counter['purple']
print(countcolor)

0

4.The Fibonacci Sequence is the series of numbers: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...
The next number is found by adding up the two numbers before it. Find the last element of the fibolist

In [36]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

# code your solution here
fibolist[-1]

317811

5.Calculate the sum of fibolist

In [25]:
sum(fibolist)

832039

6.Calculate and append the next fibonacci number to fibolist.

In [39]:
#fibolist.append(fibolist[-1]+fibolist[-2])
#fibolist.remove(fibolist[-1])
fib = fibolist[-2]+fibolist[-1]
fib
fibolist.append(fib)
fibolist

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

7.Create a reversed copy of fibolist without permanently reversing fibolist liteslf.

In [55]:
fibolist_copy = fibolist.copy()
fibolist_copy.reverse()
print(fibolist_copy)

[514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

8.Check if 29473 is a fibonacci number, and assign the anser to variable fibo_29473

In [66]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]
fibo_29473 =[]
i =fibolist.index(29473)
popped = fibolist[i]
fibo_29473.insert(popped)
print(fibo_29473)

ValueError: 29473 is not in list

9.Create two sets. Calculate the union, intersection, difference and symmetric difference for the two sets.

In [69]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,6,9}
print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1.difference(set_2))
print(set_1.symmetric_difference(set_2))

{1, 2, 3, 4, 5, 6, 9}
{3, 4}
{1, 2, 5}
{1, 2, 5, 6, 9}

10.Creat a dictionary using at least two different methods.

In [70]:
#method 1
Dict = {}
list_1 = [('a', 100), ('b', 10)]
print(list_1)
 
# Creating a Dictionary
# with each item as a Pair
Dict = dict(list_1)
print(Dict)

[('a', 100), ('b', 10)]
{'a': 100, 'b': 10}

In [72]:
#method 2
dict = {'a1': 1, 'a2': 2, 'a3': 3}
print(dict)

{'a1': 1, 'a2': 2, 'a3': 3}

11.Check if 2 and 9999 are fibonacci numbers. Create a dictionary fibo_dict with the numbers as keys, and boolean value=True if the number is fibonacci number, and False otherwise.

In [73]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]
fib_dict = {2: 2 in fibolist, 9999: 9999 in fibolist}
fib_dict

{2: True, 9999: False}