In [ ]:
# Exercise 3

In [ ]:
# 3.1

In [6]:
score = int(input("Enter your test score: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(grade)

Enter your test score:  70

C

In [ ]:
# 3.2

In [8]:
x = 1
y = 1

if x < y:
    message = "x is less than y"
elif x > y:
    message = "x is greater than y"
elif x == y:
    message = "x is the same as y"

print(message)

x is the same as y

In [ ]:
# Exercise 4

In [ ]:
# 4.1

In [14]:
grades = [90, 89, 100, 65, 43, 54, 75, 34, 59, 85]
print(grades)
grades.sort()
print(grades)
grades.reverse()
print(grades)

[90, 89, 100, 65, 43, 54, 75, 34, 59, 85]
[34, 43, 54, 59, 65, 75, 85, 89, 90, 100]
[100, 90, 89, 85, 75, 65, 59, 54, 43, 34]

In [ ]:
# 4.2

In [18]:
grades_dict = {"A":[90,95,92], "B":[89,86,82], "C":[75,70,79]}
if "A" in grades_dict.keys():
    print("A is in grades_dict")

dict_keys(['A', 'B', 'C'])
A is in grades_dict

In [ ]:
# 4.3

In [25]:
from collections import Counter

c = Counter(a=10, b=5, c=3)
d = Counter(a=9, b=4, c=2)
elements = list(c.elements())
c.subtract(d)
print(elements)
print(c)

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c']
Counter({'a': 1, 'b': 1, 'c': 1})

In [ ]:
# 4.4

In [26]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]

last_number = fibolist[-1] + fibolist[-2]
print(last_number)

514229

In [ ]:
# 4.5

In [27]:
sum = sum(fibolist)
print(sum)

832039

In [ ]:
# 4.6

In [28]:
fibolist.append(last_number)
print(fibolist)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]

In [35]:
# 4.7

In [34]:
copy = fibolist.copy()
copy.reverse()
print(copy)

[514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

In [ ]:
# 4.8

In [37]:
if 29473 in fibolist:
    fibo_29473 = "29473 is a fibo number"
else:
    fibo_29473 = "29473 is not a fibo number"

print(fibo_29473)

29473 is not a fibo number

In [ ]:
# 4.9

In [39]:
set1 = {1,2,3,4,5,6,7,8,9}
set2= {6,7,8,9,10,11,12,13}
union = set1.union()
print(union)
intersection = set1.intersection(set2)
print(intersection)
difference = set1.difference(set2)
print(difference)
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 9, 6, 7}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [ ]:
# 4.10

In [44]:
dict1 = {"A":0,"B":0,"C":0}
dict2 = dict([("A",0),("B",0),("C",0)])

In [ ]:
# 4.11

In [45]:
numbers = [2,9999]
fibo_dict = {}
for number in numbers:
    if number in fibolist:
        fibo_dict[number] = True
    else:
        fibo_dict[number] = False
print(fibo_dict)

{2: True, 9999: False}