# Pandas intro class 01

Objective:
- Learn to read and write data using `pandas`
- Selecting subset of data

There are many ways to do things using `pandas`, generally we want our work to be:
- simple
- explicit
- easy to read
- efficient

## Getting started

In [1]:
import pandas as pd # alias 
import numpy as np

In [2]:
# set row and column display if you need to
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 500)

In [3]:
# read data in
df = pd.read_csv('data/sample_data.csv')
len([m for m in dir(df) if not m.startswith('_')])

214

In [4]:
# what is this?
dir(df)
# returns all properties and methods of the specified object, without the values.

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'age',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'color',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'height',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'score',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'state',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [5]:
df.columns

Index(['name', 'state', 'color', 'favorite food', 'age', 'height', 'score',
       'count'],
      dtype='object')

In [6]:
df.shape

(7, 8)

In [13]:
df.head(5)

       name state  color favorite food  age  height  score  count
0      Jane    NY   blue         Steak   30     165    4.6     10
1      Niko    TX  green          Lamb    2      70    8.3      4
2     Aaron    FL    red         Mango   12     120    9.0      3
3  Penelope    AL  white         Apple    4      80    3.3     12
4      Dean    AK   gray        Cheese   32     180    1.8      8

In [14]:
df.tail()

        name state  color favorite food  age  height  score  count
2      Aaron    FL    red         Mango   12     120    9.0      3
3   Penelope    AL  white         Apple    4      80    3.3     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

In [14]:
df.dtypes

name              object
state             object
color             object
favorite food     object
age                int64
height             int64
score            float64
count              int64
dtype: object

In [23]:
df['name']

pandas.core.frame.DataFrame

In [17]:
type(df['name'][0])

str

In [28]:
df.isnull().mean()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
dtype: float64

In [ ]:
# other functions for different applications
pd.read_sql()
pd.read_excel()
pd.read_table() # same as read_csv
pd.read_parquet()

In [ ]:
# convert data in python to dataframe
pd.DataFrame(data)

In [ ]:
# directly read from SQL database - usually requires some setup and credentials
pd.read_sql('select * from table limit 5', con)

## Subsetting data
### Selecting a single column
- brackets `[]`
    
    Square bracket notation is used for accessing members of a collection, whether that's by key in the case of a dictionary or other mapping, or by index in the case of a sequence like a list or string
    
- dot notation `.`
    
    The dot operator is used for accessing attributes of any object
    
**Takeaway**: brackets `[]` will always work, while dot notation `.` may give some issues if your column names contain space or the same as DataFrame methods. I'd recommend to use a method that always works.

In [31]:
df.columns

Index(['name', 'state', 'color', 'favorite food', 'age', 'height', 'score',
       'count'],
      dtype='object')

In [32]:
df['favorite food']

0     Steak
1      Lamb
2     Mango
3     Apple
4    Cheese
5     Melon
6     Beans
Name: favorite food, dtype: object

In [38]:
df.name

0         Jane
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [35]:
df.name # dot method

0         Jane
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [29]:
df['name'] # [] method

0         Jane
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [25]:
type(df)

pandas.core.frame.DataFrame

In [28]:
type(df[['name']]) # nx1 / 1xn

pandas.core.frame.DataFrame

In [30]:
df['favorite food'] # won't work for dot method

0     Steak
1      Lamb
2     Mango
3     Apple
4    Cheese
5     Melon
6     Beans
Name: favorite food, dtype: object

In [39]:
# rename column - look at doc string and example
df.rename(columns={'favorite food':'favorite_food'}, inplace=True)

In [40]:
df.columns

Index(['name', 'state', 'color', 'favorite_food', 'age', 'height', 'score',
       'count'],
      dtype='object')

In [41]:
# sometimes dot won't work
df.favorite_food

0     Steak
1      Lamb
2     Mango
3     Apple
4    Cheese
5     Melon
6     Beans
Name: favorite_food, dtype: object

In [47]:
type(df['name'])

pandas.core.series.Series

In [48]:
type(df[['name']])

pandas.core.frame.DataFrame

In [42]:
df.count() / df.shape[0]
# NaN, NaT --> NA

name             1.0
state            1.0
color            1.0
favorite_food    1.0
age              1.0
height           1.0
score            1.0
count            1.0
dtype: float64

### Selecting multiple columns
You can select multiple columns when giving bracket a list of column names.

In [49]:
cols = ['state','age','name']
df[cols]

  state  age       name
0    NY   30       Jane
1    TX    2       Niko
2    FL   12      Aaron
3    AL    4   Penelope
4    AK   32       Dean
5    TX   33  Christina
6    TX   69   Cornelia

In [44]:
type(df[cols])

pandas.core.frame.DataFrame

### Selecting rows
Pandas DataFrame reference rows and columns in two ways: location(index) and lable. Hence you can access then using two ways. The following indexers allow you to select rows and columns at the same time.
- `loc` accessese data by label
- `iloc` accesses data by index/integer location

Don't use `ix` indexer as it's deprecated.

No need to use `iat` and `at`, if performance is a concern, use `numpy`.

In [7]:
df

        name state  color favorite food  age  height  score  count
0       Jane    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    8.3      4
2      Aaron    FL    red         Mango   12     120    9.0      3
3   Penelope    AL  white         Apple    4      80    3.3     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

In [8]:
big_df = pd.concat([df.reset_index(), df.reset_index()])

In [9]:
big_df.reset_index(inplace=True)

In [10]:
rows = [1,3,5]
columns = [2,4,6]

sub_df = big_df.loc[rows, columns]
sub_df

KeyError: "None of [Index([2, 4, 6], dtype='int32')] are in the [columns]"

In [11]:
big_df

,level_0,index,name,state,color,favorite food,age,height,score,count
0,0,0,Jane,NY,blue,Steak,30,165,4.6,10
1,1,1,Niko,TX,green,Lamb,2,70,8.3,4
2,2,2,Aaron,FL,red,Mango,12,120,9.0,3
3,3,3,Penelope,AL,white,Apple,4,80,3.3,12
4,4,4,Dean,AK,gray,Cheese,32,180,1.8,8
5,5,5,Christina,TX,black,Melon,33,172,9.5,99
6,6,6,Cornelia,TX,red,Beans,69,150,2.2,44
7,0,0,Jane,NY,blue,Steak,30,165,4.6,10
8,1,1,Niko,TX,green,Lamb,2,70,8.3,4
9,2,2,Aaron,FL,red,Mango,12,120,9.0,3
10,3,3,Penelope,AL,white,Apple,4,80,3.3,12
11,4,4,Dean,AK,gray,Cheese,32,180,1.8,8
12,5,5,Christina,TX,black,Melon,33,172,9.5,99
13,6,6,Cornelia,TX,red,Beans,69,150,2.2,44

In [30]:
big_df.iloc[1:3,['age','score','count']]

IndexError: .iloc requires numeric indexers, got ['age' 'score' 'count']

In [12]:
rows = [1,3,5]
columns = [2,4,6]

sub_df = df.loc[rows, df.columns[columns]]

In [13]:
type(sub_df)

pandas.core.frame.DataFrame

In [14]:
sub_df

   color  age  score
1  green    2    8.3
3  white    4    3.3
5  black   33    9.5

In [15]:
# iloc
rows = [1,3,5]
columns = [2,4,6]

df.iloc[rows, columns]

   color  age  score
1  green    2    8.3
3  white    4    3.3
5  black   33    9.5

In [48]:
rows = [1,3,5]
columns = ['name','state','age']

df.loc[rows, columns]
# note here the rows means different thing from above

        name state  age
1       Niko    TX    2
3   Penelope    AL    4
5  Christina    TX   33

In [16]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [17]:
# you can reset index to any column
df.set_index('name', inplace=True)

In [18]:
df

          state  color favorite food  age  height  score  count
name
Jane         NY   blue         Steak   30     165    4.6     10
Niko         TX  green          Lamb    2      70    8.3      4
Aaron        FL    red         Mango   12     120    9.0      3
Penelope     AL  white         Apple    4      80    3.3     12
Dean         AK   gray        Cheese   32     180    1.8      8
Christina    TX  black         Melon   33     172    9.5     99
Cornelia     TX    red         Beans   69     150    2.2     44

In [19]:
df.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object', name='name')

In [20]:
# iloc
rows = [1,3,5]
columns = [2,4,6]

df.iloc[rows, columns]

          favorite food  height  count
name
Niko               Lamb      70      4
Penelope          Apple      80     12
Christina         Melon     172     99

In [21]:
# rows = [1,3,5]
rows = ['Dean','Penelope']
columns = ['state','age']
df.loc[rows, columns]

         state  age
name
Dean        AK   32
Penelope    AL    4

In [22]:
df.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object', name='name')

In [23]:
rows = df.index[1::2]
columns = ['state','age'] # df.columns[0:-2:1]
df.loc[rows, columns]

          state  age
name
Niko         TX    2
Penelope     AL    4
Christina    TX   33

In [27]:
df.iloc[[1,3,5]][columns]

          state  age
name
Niko         TX    2
Penelope     AL    4
Christina    TX   33

## Assigning values
When assigning values, you are usually assiging to a subset of DataFrame. 

We want to subset the `name` column of the DataFrame and change one of the values.

In [76]:
df.reset_index(inplace=True)
df

        name state  color favorite_food  age  height  score  count
0       Jane    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    8.3      4
2      Aaron    FL    red         Mango   12     120    9.0      3
3   Penelope    AL  white         Apple    4      80    3.3     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

In [77]:
name = df['name']
name

0         Jane
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [63]:
type(name)

pandas.core.series.Series

In [78]:
name.loc[0] = 'Emma'
name

/Library/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

0         Emma
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [79]:
df

        name state  color favorite_food  age  height  score  count
0       Emma    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    8.3      4
2      Aaron    FL    red         Mango   12     120    9.0      3
3   Penelope    AL  white         Apple    4      80    3.3     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

This is a side-effect we've seen in modifying elements in mutable collections before.

Whenever we selected the name column with `df['name']`, Pandas did not make a copy of the underlying data. Both the `name` Series and the `df` DataFrame are referencing the same underlying data, which is a NumPy array. Thus, when we made the assignment with `name.loc[0] = 'Emma'`, reference was updated. Since both `name` and `df` reference this array in memory, they both report the new name `Emma`.

And based on what we learned before, if this side-effect is undesirable, we can handle with a `copy`.

In [80]:
df = pd.read_csv('data/sample_data.csv')
name = df['name'].copy()

In [81]:
name.loc[0] = 'Emma'
name

0         Emma
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

In [82]:
df['name']

0         Jane
1         Niko
2        Aaron
3     Penelope
4         Dean
5    Christina
6     Cornelia
Name: name, dtype: object

### `SettingWithCopyWarning` - what is it and how to deal with it
Sometimes you'll get a `SettingWithCopyWarning` when you try to assign value. It usually means the value assignment may not work and you'll need to modify your code and double check.

In [83]:
df['age'] < 18

0    False
1     True
2     True
3     True
4    False
5    False
6    False
Name: age, dtype: bool

In [84]:
# condition filter / condition indexing / mask
df[ df['age'] < 18 ]

       name state  color favorite food  age  height  score  count
1      Niko    TX  green          Lamb    2      70    8.3      4
2     Aaron    FL    red         Mango   12     120    9.0      3
3  Penelope    AL  white         Apple    4      80    3.3     12

In [85]:
df[ df['age'] < 18 ]['score'] # chain method

1    8.3
2    9.0
3    3.3
Name: score, dtype: float64

In [86]:
# let's do some assignment using chained indexing
df[df['age'] < 18]['score'] = 0

/Library/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [87]:
df

        name state  color favorite food  age  height  score  count
0       Jane    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    8.3      4
2      Aaron    FL    red         Mango   12     120    9.0      3
3   Penelope    AL  white         Apple    4      80    3.3     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

Chained indexing here didn't result in any value assignment. Let's use the correct way.

If you want to know why chained indexing didn't work for assignment, here is why

>Chained indexing does not work because an intermediate DataFrame is created with new, copied data. It is this intermediate DataFrame that has its data changed. But, this intermediate DataFrame is never assigned to a variable, therefore there is no reference to it.

In [89]:
df.loc[df['age'] < 18, 'score'] = 0
df

        name state  color favorite food  age  height  score  count
0       Jane    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    0.0      4
2      Aaron    FL    red         Mango   12     120    0.0      3
3   Penelope    AL  white         Apple    4      80    0.0     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

In [90]:
df_new = df[['state', 'count']]
df_new

  state  count
0    NY     10
1    TX      4
2    FL      3
3    AL     12
4    AK      8
5    TX     99
6    TX     44

Sometimes the `SettingWithCopyWarning` is triggered even there is nothing wrong. For example:

In [94]:
df_new['count'] = 0

/Library/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [92]:
df_new

  state  count
0    NY      0
1    TX      0
2    FL      0
3    AL      0
4    AK      0
5    TX      0
6    TX      0

In [93]:
df

        name state  color favorite food  age  height  score  count
0       Jane    NY   blue         Steak   30     165    4.6     10
1       Niko    TX  green          Lamb    2      70    0.0      4
2      Aaron    FL    red         Mango   12     120    0.0      3
3   Penelope    AL  white         Apple    4      80    0.0     12
4       Dean    AK   gray        Cheese   32     180    1.8      8
5  Christina    TX  black         Melon   33     172    9.5     99
6   Cornelia    TX    red         Beans   69     150    2.2     44

In this instance, Pandas makes a completely new copy of the data when creating the new DataFrame when executing `df_new = df[['state', 'count']]`. The values of this DataFrame can be set without worrying about changing the original. The warning showed up as we didn't explicitly create a copy. If we want to avoid the warning, we can use `.copy()` explicitly.

In [95]:
df_new = df[['state', 'count']].copy()
df_new['count'] = 0
df_new

  state  count
0    NY      0
1    TX      0
2    FL      0
3    AL      0
4    AK      0
5    TX      0
6    TX      0

There is no need to worry about the `SettingWithCopyWarning` warning, usually the following two cases apply to your work, the warning is basically saying pandas doesn't know which one you are trying to do:
- you want to work on original DataFrame and modify its values
- you want to create a new DataFrame for your work and keep the original unchanged

For the first case, make sure you are indexing properly as demonstrated and know the values have been changed. 

For the second case, create explicit copy when possible (memory/performance concern exists sometimes), or if you are familiar with what's happening behind the scene, you can ignore the warinig.

### Write data out
We can use built-in methods to write DataFrame to desirable format.

In [105]:
df.to_csv('data/modified_sample_data.csv') #, index=False)

In [106]:
with open('data/modified_sample_data.csv', 'r') as file:
    print(file.read())

,name,state,color,favorite food,age,height,score,count
0,Jane,NY,blue,Steak,30,165,4.6,10
1,Niko,TX,green,Lamb,2,70,0.0,4
2,Aaron,FL,red,Mango,12,120,0.0,3
3,Penelope,AL,white,Apple,4,80,0.0,12
4,Dean,AK,gray,Cheese,32,180,1.8,8
5,Christina,TX,black,Melon,33,172,9.5,99
6,Cornelia,TX,red,Beans,69,150,2.2,44

### Assignment: read about what the following methods do and get familiar with them, we will use them in future classes.

* T
* abs
* all
* any
* append
* asfreq
* astype
* clip
* columns
* copy
* corr
* count
* cov
* cummax
* cummin
* cumprod
* cumsum
* describe
* diff
* drop
* drop_duplicates
* dropna
* dtypes
* equals
* expanding
* fillna
* groupby
* head
* idxmax
* idxmin
* iloc
* index
* interpolate
* isin
* isna
* loc
* max
* mean
* median
* melt
* merge
* min
* mode
* nlargest
* notna
* nsmallest
* nunique
* pct_change
* pivot_table
* plot
* prod
* quantile
* rank
* rename
* replace
* resample
* reset_index
* rolling
* round
* sample
* select_dtypes
* shape
* shift
* sort_index
* sort_values
* std
* sum
* tail
* to_csv
* to_sql
* values
* var